.btngreen {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 8px;
  }
  
.btngreen:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.btnred {
    background-color: #fbc2c2;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 70, 0.15) 0 2px 4px,rgba(187, 44, 46, 0.15) 0 4px 8px,rgba(187, 44, 44, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: rgb(230, 56, 85);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.btnred:hover {
    box-shadow: rgba(242, 80, 80, 0.449) 0 -25px 18px -14px inset,rgba(201, 56, 56, 0.25) 0 1px 2px,rgba(187, 44, 44, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.25) 0 4px 8px,rgba(187, 44, 44, 0.25) 0 8px 16px,rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.sidebar-menu li a .arrow{
    margin-left: 110px;
}

.submenu{
    margin-top: 15px;
    max-height: 0;
    overflow-y: hidden;
    transition: .3s ease;
    background: rgba(255,255,255,.1);
}

:root{
    --main-color: #5275fc;
}

.sidebar-menu li a.active,
.sidebar-menu li a.active:hover{
    background: #fff;
    color: var(--main-color);
}

.submenu li a{
    padding-left: 24px;
    font-size: 0.9rem;
}
.submenu.show{
    max-height: 500px;
}

.submenu li a i{
    margin-right: 10px;
}

.sidebar-menu li a .icon{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
